@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c85c5c;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

body {
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding: 0;
    background-color: black;
    color: white;
    /* overflow-x: hidden; */
}

.menu-icon {
    top: 0;
    right: 0;
    width: 30px;
    position: absolute;
    margin: 20px;
    cursor: pointer;
    display: inherit;
}

.menu {
    position: fixed;
    right: 0; width: 40%;
    top: 0;
    height: 100%;
    background-color: #c85c5c;
    display: none;
    overflow: auto;
}

.menu::-webkit-scrollbar {
    width: 5px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
}

.menu-header {
    height: 50px;
    background-color: white;
}

.menu-header img {
    width: 30px;
    margin: 10px;
    display: inline;
}

.menu-header p {
    color: black;
    font-size: .5rem;
    display: inline;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.close-menu img {
    width: 40px;
    position: absolute;
    right: 10; top: 5;
    cursor: pointer;
}

.navigation-links {
    margin-top: 20px;   
    margin-bottom: 20px;
}

.navigation-links a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    transition: .2s;
    background-color: black;
    color: white;
    border: 5px solid black;
}

.navigation-links a:hover {
    background-color: #c85c5c;
    color: white;
}   

.hero-section {
    margin-top: 50px;
    padding: 20px;
}

.hero-head img {
    width: 200px;
}

.hero-head p {
    display: inline;
    font-size: 1rem;
}

.hero-head span {
    font-size: .5rem;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.news {
    padding: 20px;
}

.title-n-tags {
    padding: 20px;
    font-size: .8rem;
    border-radius: 20px;
    /* background-color: #2e3a4e; */
    transition: .2s;
}

.title-n-tags:hover {
    background-color: #c85c5c;
}

.tag {
    font-size: .5rem;
}

.tag-mark {
    padding: 5px;
    background-color: #c85c5c;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.title-n-tags a {
    text-decoration: none;
    color: white;
}

/* Media Queries */

@media (max-width: 600px) {
    .menu {
        width: 100%;
    }
    .hero-head img {
        width: 100px;
    }
    .title-n-tags {
        font-size: .5rem;
    }
    .tag {
        font-size: .4rem;
    }
}
